<% if user_signed_in? %>
  <span>
    <%= link_to edit_user_registration_path, :class => "user" do %>
      <%= image_tag current_user.image_url(:thumb).to_s %><%= current_user.email %>
    <% end %><%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  </span>
<% else %>
  <span>
    <%= link_to 'Register', new_user_registration_path, :class => "user" %><%= link_to 'Login', new_user_session_path %>
  </span>
<% end %>