<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true, :class => "user_edit nice" }) do |f| %>
<div class="row">
  <div class="twelve columns">
    <h4 class="edit-header">Edit <%= resource_name.to_s.humanize %></h4>
    <%= devise_error_messages! %>
  </div>
</div>

<%= render "devise/menu/edit_nav_bar_items" %>

<div class="user-edit">
  <div class="row">
    <div class="five columns offset-by-one">
      <h5>Account</h5>

      <%= f.label :email %>
      <%= f.email_field :email, :class => "input-text" %>

      <%= f.label :password, "Password (Leave blank if you don't want to change it)" %>
      <%= f.password_field :password, :class => "input-text" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "input-text" %>
      <br />
      <h5>Confirmation Password</h5>
      <%= f.label :current_password, "We need your current password to confirm your changes" %>
      <%= f.password_field :current_password, :class => "input-text" %>
    </div>
    <div class="five columns">
      <% if current_user.type == 'Employer' %>
        <h5>Company Logo</h5>
        <%= avatar_account("128") %>
        <%= f.label :image, "Browse from your drive" %>
        <%= f.file_field :image %>
        <br /><br />
        <p>Optional — Your company logo will appear at the top of your listing. 190px wide is optimal. We'll resize automatically if it's wider than 190px.</p>
      <% elsif current_user.type == 'Employee' %>
        <h5>Avatar</h5>
        <%= avatar_account(64) %>
        <%= f.label :image, "Browse from your drive" %>
        <%= f.file_field :image %>
        <br /><br />
        <p>Your avartar logo (will be resized to < 200x100px)</p>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <hr>
  </div>
</div>

<div class="row">
  <div class="nine columns">
  <%= link_to "Back", :back, :class => "medium button radius" %>
  <%= f.submit "Update", :class => "medium button radius" %>
  </div>
  <div class="three columns">
    <p class="right">
      <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :class => "white medium button radius", :method => :delete %>
    </p>
  </div>
</div>
<% end %>