<div class="row">
  <div class="twelve columns content">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :class => "user_new nice" }) do |f| %>
    <div class="row">
      <div class="twelve columns content-header">
        <h1>Register</h1>
        <%= devise_error_messages! %>
      </div>
    </div>
    <div class="row content-container">
      <div class="four columns register-account">
        <h2>Account</h2>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "input-text" %>

        <%= f.label :password %>
        <%= f.password_field :password, :class => "input-text" %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "input-text" %>

        <%= f.label :type, "User Type" %>
        <%= f.select :type, User::USER_TYPES %>
      </div>
      <div class="four columns register-information">
        <h2>Information</h2>
        <%= f.label :name %>
        <%= f.text_field :name, :class => "input-text" %>

        <%= f.label :address %>
        <%= f.text_field :address, :class => "input-text" %>

        <%= f.label :telephone %>
        <%= f.text_field :telephone, :class => "input-text" %>

        <%= f.label :url, "URL" %>
        <%= f.text_field :url, :class => "input-text" %>
      </div>
      <div class="four columns register-picture">
        <h2>Avatar, Logo</h2>
        <label>Browse from your drive</label>
        <%= f.file_field :image %>
        <br /><br />
        <p>Optional — Your company logo will appear at the top of your listing.
190px wide is optimal. We'll resize automatically if it's wider than 190px.</p>
        <p>Your company logo (will be resized to < 200x100px)</p>
      </div>
    </div>
    <div class="register-action">
      <h3>Okay, Let's get your career job!</h3>
      <%= f.submit "Sign up", :class => "button radius" %>
    </div>
    <% end %>
  </div>
</div>