<div class="row">
  <div class="twelve columns">
    <hr>
  </div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true, :class => "user_new nice" }) do |f| %>
<div class="row">
  <div class="four columns centered">
    <h4>Register</h4>
    <%= devise_error_messages! %>
  </div>
</div>
<div class="row">
  <div class="four columns centered">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "input-text" %>

    <%= f.label :password %>
    <%= f.password_field :password, :class => "input-text" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "input-text" %>

    <%= f.label :type, "User Type" %>
    <%= f.select :type, User::USER_TYPES %>
    
    <%= f.submit "Sign up", :class => "button radius" %>
  </div>
</div>
<% end %>