<% title "Edit Job" %>
<div class="row">
  <div class="twelve columns">
    <%= link_to "Back to job", :back %>
    <h4 class="edit-header">Edit your Job</h4>
  </div>
</div>

<div class="row">
  <div class="seven columns">
    <h5 class="job-header">tell us about the position</h5>
    <%= form_for [@employer, @job], html: { class: 'edit_job nice'} do |f| %>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td><%= f.label :title, "Job Title" %></td>
            <td><%= f.text_field :title, :class => "input-text" %>"Reception" or "Cook"</td>
          </tr>
          <tr>
            <td><%= f.label :job_type %></td>
            <td><%= f.select :job_type, Job::JOB_TYPES, :width => "300" %></td>
          </tr>
          <tr>
            <td><%= f.label :location %></td>
            <td><%= f.text_field :location, :class => "input-text" %>"Phra Khanong, Bangkok", "Chaing Mai" or "Thailand"</td>
          </tr>
          <tr>
            <td><%= f.label :salary %></td>
            <td><%= f.text_field :salary, :class => "input-text" %>"800 /day", "20,000 /m" or "20,000-30,000 /m"</td>
          </tr>
         </tbody>
      </table>
    <div class="description">
      <%= f.label :description do %>
        Description
        <span class="right">Format text with <%= link_to "Textile", "http://en.wikipedia.org/wiki/Textile_(markup_language)", target: "_blank" %></span>
      <% end %>
      <%= f.text_area :description, :size => "60x18" %>

      <%= link_to "Back", :back, :class => "button radius" %>
      <%= f.submit "Update", :class => "medium button radius" %>
    </div>
    <% end %>
  </div>
  <div class="three columns offset-by-one company-detail">
    <ul>
      <li><h5><%= @job.employer.profile.name %></h5></li>
      <li><%= image_avatar(current_user, true, '190') %></li>
      <li><hr></li>
      <li><%= @job.employer.profile.address %></li>
      <li><%= @job.employer.profile.telephone %></li>
      <li><%= link_to @job.employer.email, "emailto:" + @job.employer.email %></li>
      <li><%= link_to @job.employer.profile.url, @job.employer.profile.url %></li>
    </ul>
  </div>
</div>