<% title "listing" %>
<div class="row">
  <div class="twelve columns">
    <h4>Edit Profile</h4>
  </div>
</div>

<%= render "devise/menu/edit_nav_bar_items" %>

<div class="row">
  <div class="twelve columns">
    <%= link_to "Post job", new_job_path %><br />

    <% if @jobs.each do |j| %>
      <b><%= j.location %></b> <u><%= j.title %></u> at <%= @employer.email %> Salary: <%= j.salary %> <%= link_to 'view job', j %><br />
    <% end.empty? %>
      empty
    <% end %>
  </div>
</div>