<% title "Post Job" %>
<div class="row">
  <div class="twelve columns content">
    <div class="job-post-header">
      <h1>Step 1: Post your Job</h1>
    </div>
    <div class="job-post-container">
      <h2>about the position</h2>
      <%= form_for [@employer, @job], html: { class: 'new_job nice'} do |f| %>
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><%= f.label :title, "Job Title" %></td>
              <td><%= f.text_field :title, :class => "input-text" %>"Reception" or "Cook"</td>
            <tr>
              <td><%= f.label :job_type %></td>
              <td><%= f.select :job_type, Job::JOB_TYPES, :width => "300" %></td>
            <tr>
              <td><%= f.label :location %></td>
              <td><%= f.text_field :location, :class => "input-text" %>"Phra Khanong, Bangkok", "Chaing Mai" or "Thailand"</td>
            <tr>
              <td><%= f.label :salary %></td>
              <td><%= f.text_field :salary, :class => "input-text" %>"800 /day", "20,000 /m" or "20,000-30,000 /m"</td>
          </tbody>
        </table>
      <div class="position-description">
        <%= f.label :description %>
        <%= f.text_area :description, :size => "24x6" %>
      </div>
      <%= f.submit "Publish", :class => "medium blue nice button radius" %>
      <% end %>
    </div>
  </div>
</div>