<h3>Post Job</h3>

<%= form_for @jobs do |f| %>
  <%= f.label :title, "Job Title" %>
  <%= f.text_field :title, :class => "input-text" %>

  <%= f.label :job_type %>
  <%= f.select :job_type, Job::JOB_TYPES, :width => "300" %>

  <%= f.label :location %>
  <%= f.text_field :location, :class => "input-text" %>
  
  <%= f.label :salary %>
  <%= f.text_field :salary, :class => "input-text" %>

  <%= f.label :description %>
  <%= f.text_area :description, :size => "24x6" %>

  <%= f.submit "Publish", :class => "nice small radius blue button" %>
<% end %>
