<div class="row">
  <div class="twelve columns">
      <p class="right"><%= link_to "Edit job", edit_job_path %></p>
      <p><%= link_to "Back to all jobs", root_path %></p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="nine columns">
    <h4><%= @job.title %></h4>
    <p>Posted <%= @job.created_at.strftime('%b %d') %></p>
    <p>
      <%= @job.employer.profile.name %><br />
      Location: <%= @job.location %><br />
      <%= link_to @job.employer.profile.url, @job.employer.profile.url %>
    <p>
  </div>
  <div class="three columns">
    <%= image_avatar(@job.employer, false, '190') %>
  </div>
</div>

<div class="row">
  <div class="nine columns">
    <p><%= RedCloth.new(@job.description).to_html.html_safe %></p>
  </div>
  <div class="three columns">
    <ul>
      <li>Salary <%= @job.salary %></li>
      <li>Job Type <%= @job.job_type %></li>
    </ul>
    <%= link_to "Add to shortlist", '', :class => "button radius" %> <br />
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="six columns">
    <h5>Apply for this position</h5>
    <br>
    <%= link_to "Apply now", "", :class => "button radius" %>
  </div>
  <div class="six columns">
    <h5>Company Information</h5>
    <span>Email</span> <%= @job.employer.email %><br />
    <span>Telephone</span> <%= @job.employer.profile.telephone %><br />
  </div>
</div>