<div class="row">
  <div class="content">
    <div class="row">
      <div class="nav">
        <div class="eight columns search-jobs">
        <input type="text" placeholder="Search" />
        </div>
        <div class="four columns add-jobs">
          <% if current_user %>
          <%= link_to "Post a job", new_employer_job_path(current_user), :class => "medium button" %>
          <% else %>
          <%= link_to "Post a job", new_job_path, :class => "medium button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns jobs">
        <h4>Recent Jobs</h4>
        <ul>
          <% if @jobs.each do |j| %>
          <li style="background-color: #fff">
            <a href="<%= job_path(j) %>" style="display:block">
            <span class="location"><b><%= j.location %></b></span>
            <span class="title"><u><%= j.title %></u></span> at 
            <span class="company"><%= j.employer.email rescue 'no employer email' %></span>
            <span class="date"><%= j.created_at.strftime('%b %d') %></span>
            <span class="salary"><%= j.salary %></span>
            </a>
          </li>
          <% end.empty? %>
           empty
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>