<div class="row content">
  <div class="twelve columns">
    <div class="login-container">
      <h1>Login</h1>
      <p>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'user_new nice'}) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, :class => "nice input-text" %>

        <%= f.label :password %>
        <%= f.password_field :password, :class => "input-text" %>

        <% if devise_mapping.rememberable? -%>
          <%= label_tag "user_remember_me" do %>
            <%= f.check_box :remember_me %>
            <span>Remember Me</span>
          <% end %>
        <% end -%>

        <div><%= f.submit "Sign in", :class => "button radius" %></div>
      <% end %>
      <%= render :partial => "devise/shared/link_forgot_password" %>
      </p>
    </div>
    <div class="register-container">
      <h3>Not registerd? Sign up today and get the following extras.</h3>
      <ul>
        <li>1-Click per Job</li>
        <li>Shortlist Jobs</li>
        <li>Smart</li>
      </ul>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Register", new_registration_path(resource_name), :class => "button radius" %><br />
      <% end -%>
    </div>
    <h3 class="separator"><span>OR</span></h3> 
  </div>
</div>