<!DOCTYPE html>
<html>
  <head>
    <title>Job Board | <%= content_for?(:title) ? yield(:title) : "artellectual" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div class="header">
        <div class="row">
          <div class="eight columns header-container">
            <h2><%= link_to "Job Board", root_path %></h2>
          </div>
          <div class="four columns header-account">
            <div class="header-menu">
              <%= render 'devise/menu/registration_items' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, :class => "alert-box") do %>
              <%= msg %>
              <%= link_to("x", "", :class => "close") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% #<%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>