<!DOCTYPE html>
<html>
  <head>
    <title>Job Board | <%= content_for?(:title) ? yield(:title) : "artellectual" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="eight columns">
            <h1><%= link_to "Job Board", root_path %></h1>
          </div>
          <div class="four columns">
            <%= render 'devise/menu/registration_items' %>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="twelve columns">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, :class => "success alert-box") do %>
            <%= msg %>
            <%= link_to("x", "", :class => "close") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% #<%= content_tag :h1, yield(:title) if show_title? %>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="row">
      <section class="twelve columns">
        <p class="right">artellectual.com</p>
      </section>
    </footer>
  </body>
</html>